~*
*.swp
*.swo
vim/bundle*
!vim/bundle/Vundle.vim
vim/undodir/*
.netrwhist
*/.netrwhist
tags
vifm/vifminfo.json
local/

vim/colors/vim-monokai-tasty.vim
vim/pack/plugins/start/lightline/autoload/lightline/colorscheme/monokai_tasty.vim
third_party/vim/lightline/autoload/lightline/colorscheme/monokai_tasty.vim
