# Ignore Everything by default:
*.*

#   Whitelist
!.git*
!Makefile
!README.md
!configs
!install_files
!rc_files
!resources
!scripts
!third_party
!unused
!unused/**
!install.sh

# Always Ignore
**.DS_Store
**.sw?
nohup.out
*~
